{%extends 'base.html' %}
{%load static %}

{%block movielist %}
<section class="portfolio-area pt-60">
	<div class="container">
		
		<div class="row flexbox-center">
			<div class="col-lg-6 text-center text-lg-left">
				<div class="section-title">
					<h1><i class="icofont icofont-movie"></i> Movie List</h1>
				</div>
			</div>
			<div class="col-lg-6 text-center text-lg-right">
				<div class="portfolio-menu">
					<ul>
						<li data-filter="*" class="active">Latest</li>
						<li data-filter=".soon">Comming Soon</li>
						<li data-filter=".top">Top Rated</li>
						<li data-filter=".released">Recently Released</li>
					</ul>
				</div>
			</div>
		</div>
		<hr />
		<div class="row portfolio-item">
			<!-- {%if movie_category%}
				<h3>{{movie_category}}</h3>
			{%endif%}
			{%if movie_language%}
				<h3>{{movie_language}}</h3>
			{%endif%} -->
			{% for movie in object_list %}
			<div class="col-lg-3 col-md-4 col-sm-6 soon released">	
				<div class="single-portfolio">
					<div class="single-portfolio-img">
						<img src="{{movie.image.url}}" alt="portfolio" />
					</div>
					<div class="portfolio-content">
						<h2>{{movie.title}}</h2>
						<div class="review">
							<div class="author-review">
								<i class="icofont icofont-star"></i>
								<i class="icofont icofont-star"></i>
								<i class="icofont icofont-star"></i>
								<i class="icofont icofont-star"></i>
								<i class="icofont icofont-star"></i>
							</div>
							<h4>{{movie.views_count}}</h4>
						</div>
					</div>	
				</div>	
			</div>
			{%empty%}
				<h3> There is no movie in this category</h3>
			{% endfor %}
		</div>		
	</div>
		{%if is_paginated%}
			<nav aria-label="Page navigation example" >
				<ul class="pagination justify-content-center">
					{%if page_obj.has_previous %}
						<li><a class="page-link" href="?page={{page_obj.previous_page_number}}">prev</a></li>
					{%else%}
					<li class="disabled"></li>
					{%endif%}
					{%for pages in page_obj.paginator.page_range%}
						{%if page_obj.number == pages%}
							<li><a class="page-link" href="#">{{pages}}</a></li>
						{%else%}
							<li><a class="page-link" href="?page={{pages}}">{{pages}}</a></li>
						{%endif%}
					{%endfor%}
					{%if page_obj.has_next %}
						<li><a class="page-link" href="?page={{page_obj.next_page_number}}">next</a></li>
					{%else%}
						<li class="disabled"></li>
					{%endif%}
				</ul>
			</nav>
	{%endif%}

</section>

{%endblock movielist %}